/* For mobile phones: */
@media only screen and (max-width: 768px) {
    
    html, body {

        min-width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
        background-color: #3d3d3d;
        background-size: cover;
        overflow-x: hidden;
    }
    
    [class*="col-"] {

        width: 100%;
        float: left;
        border: 1px solid black;
    }

    p {

        padding: 0;
        margin: 0;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }
    
    p1 {

        padding: 0;
        margin: 0;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    * {

        box-sizing: border-box;
    }

    h1 {

        color: white;
    }

    h3 {

        color: white;
    }

    input {

    }

    .header {

        background-color: #3d3d3d;
        position: relative;
        height: 10%;
    }

    .footer {

        background-color: #3d3d3d;
        position: relative;
        padding-left: auto;
        padding-right: auto;
        height: 10%;
        margin: 0;
        width: 100%;
    }

    .banner {

        height: 100%;
        position: relative;
    }

    .container {

        background-color: #4b4b4b;
    }

    .row {

        border: 0;
    }

    .row::after {

        content: "";
        clear: both;
        display: table;
    }

    .tile {

        width: 100%;
        padding-bottom: 100%;
        position: relative;
        border: 0;
    }

    .imgholder {

        position: absolute;
        padding: 2%;
        width: 100%;
        height: 100%;
    }

    .aspectIMG {

        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px black;
    }

    .textBox {

        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        padding-top: -5%;
        overflow: hidden;
        width: 96%;
        height: 25%;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        bottom: 2%;
        margin: 0;
    }

    .navContainer {

        position: relative;
        height: 100%;
        padding-left: auto;
        padding-right: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navFootContainer {

        width: auto;
        padding: 0;
        margin: 0;
        position: relative;
        height: 100%;
    }

    .navBTN {

        position: relative;
        float: right;
        width: 33.33%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .navFootBTN {

        position: relative;
        float: right;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    

    [class*="col-"] {

        width: 100%;
        float: left;
        border: 1px solid black;
    }
    
    p {

        padding: 0;
        margin: 0;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }
    
    p1 {

        padding: 0;
        margin: 0;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    * {

        box-sizing: border-box;
    }

    html, body {

        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: #3d3d3d;
    }

    h1 {

        color: white;
    }

    h3 {

        color: white;
    }

    input {

    }

    .header {

        background-color: #3d3d3d;
        position: relative;
        height: 10%;
    }

    .footer {

        background-color: #3d3d3d;
        position: relative;
        padding-left: auto;
        padding-right: auto;
        height: 10%;
        margin: 0;
        width: 100%;
    }

    .banner {

        height: 100%;
        position: relative;
    }

    .container {

        background-color: #4b4b4b;
    }

    .row {

        border: 0;
    }

    .row::after {

        content: "";
        clear: both;
        display: table;
    }

    .tile {

        width: 100%;
        padding-bottom: 100%;
        position: relative;
        border: 0;
    }

    .imgholder {

        position: absolute;
        padding: 2%;
        width: 100%;
        height: 100%;
    }

    .aspectIMG {

        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px black;
    }

    .textBox {

        width: 100%;
        height: 25%;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        bottom: 0;
    }

    .navContainer {

        position: relative;
        height: 100%;
        padding-left: auto;
        padding-right: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navFootContainer {

        width: auto;
        padding: 0;
        margin: 0;
        position: relative;
        height: 100%;
    }

    .navBTN {

        position: relative;
        float: right;
        width: 33.33%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .navFootBTN {

        position: relative;
        float: right;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

@media only screen and (min-width: 768px) {
    
    /*
        For Desktop
    */

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    [class*="col-"] {
    
        float: left;
        border: 1px solid black;
    }
    
    .banner {
        
        border-top: 1px;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
        height: 100%;
        padding-left: 1%;
    }
    
    .headerIMG {
        
        height: 100%;
        width: 100%;
    }
    
    .imgholder:hover {
        
        
    }
    
    .navContainer {
        
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
    }
    
    .tile {
    
        padding-bottom: 33.33%;
        position: relative;
        border: 0;
    }

    .imgholder {

        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    
    .textBox {

        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        padding-top: -5%;
        overflow: hidden;
        width: 96%;
        height: 25%;
        position: absolute;
        background-color: black;
        opacity: 0.8;
        bottom: 2%;
        margin: 0;
    }
    
    p {

        padding: 0;
        margin: 0;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }
    
    p1 {

        padding: 0;
        margin: 0;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-family: 'Open Sans Condensed', sans-serif;
    }
}
